# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ IDEA
.idea/

# Maven
APIServerMoveMovie/target/

# Spring Boot
APIServerMoveMovie/*.log
APIServerMoveMovie/logs/
APIServerMoveMovie/spring-boot-starter-data-rest/

# Vue
/dist/
/node_modules/

# Compiled files
*.class
*.war
*.jar

# Operating System files
.DS_Store
Thumbs.db


backend/external