<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <typeAliases>
  	<typeAlias type="com.ssafy.mm.model.UserDto" alias="UserDto"/>
  	<typeAlias type="com.ssafy.mm.model.SpotDto" alias="SpotDto"/>
  	<typeAlias type="com.ssafy.mm.model.BucketDto" alias="BucketDto"/>
  	<typeAlias type="com.ssafy.mm.model.Bucket_detail_List_DTO" alias="Bucket_detail_List_DTO"/>
  	<typeAlias type="com.ssafy.mm.model.my_bucket_list_DTO" alias="my_bucket_list_DTO"/>
  	<typeAlias type="com.ssafy.mm.model.SpotInstanceDto" alias="SpotInstanceDto"/>
  </typeAliases>
  
  <mappers>
    <mapper resource="mappers/user.xml"/>
    <mapper resource="mappers/spot.xml"/>
    <mapper resource="mappers/bucket.xml"/>
	<mapper resource="mappers/bucketDetailList.xml"/>
    <mapper resource="mappers/myBucketList.xml"/>
    <mapper resource="mappers/spotinst.xml"/>
  </mappers>
</configuration>